<!DOCTYPE html>
<html>
<head>
    <title>{{ repo.name }} - About</title>
    <link rel="stylesheet" href="/statics/css/main.css">
</head>
<body>
    <h1>{{ repo.name }}</h1>
    
    {% if readme %}
    <div class="readme">
        {% if readme.0 == "Markdown" %}
            <div class="markdown">{{ readme.1 }}</div>
        {% else %}
            <pre>{{ readme.1 }}</pre>
        {% endif %}
    </div>
    {% else %}
    <p>No README found</p>
    {% endif %}
    
    {% if branch %}
    <p>Branch: {{ branch }}</p>
    {% endif %}
</body>
</html>