<!DOCTYPE html>
<html>
<head>
    <title>{{ repo.name }} - Diff</title>
    <link rel="stylesheet" href="/statics/css/main.css">
</head>
<body>
    <h1>Diff for {{ repo.name }}</h1>
    
    {% if commit %}
    <div class="commit-info">
        <p><strong>Commit:</strong> {{ commit.id }}</p>
        <p><strong>Message:</strong> {{ commit.message }}</p>
        <p><strong>Author:</strong> {{ commit.author_name }}</p>
    </div>
    {% endif %}
    
    {% if diff %}
    <div class="diff">
        <pre>{{ diff }}</pre>
    </div>
    {% endif %}
    
    {% if branch %}
    <p>Branch: {{ branch }}</p>
    {% endif %}
</body>
</html>