<!DOCTYPE html>
<html>
<head>
    <title>{{ repo.name }} - Log</title>
    <link rel="stylesheet" href="/statics/css/main.css">
</head>
<body>
    <h1>Commit Log for {{ repo.name }}</h1>
    
    {% if branch %}
    <p>Branch: {{ branch }}</p>
    {% endif %}
    
    <table class="commit-log">
        <thead>
            <tr>
                <th>Commit</th>
                <th>Message</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for commit in commits %}
            <tr>
                <td><a href="/repo/{{ repo.name }}/commit/{{ commit.id }}">{{ commit.id }}</a></td>
                <td>{{ commit.message }}</td>
                <td>{{ commit.author_name }}</td>
                <td>{{ commit.author_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if pagination %}
    <div class="pagination">
        {% if pagination.has_prev %}
        <a href="?page={{ pagination.prev_page }}">Previous</a>
        {% endif %}
        
        {% if pagination.has_next %}
        <a href="?page={{ pagination.next_page }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>