<!DOCTYPE html>
<html>
<head>
    <title>{{ repo.name }} - Tree</title>
    <link rel="stylesheet" href="/statics/css/main.css">
</head>
<body>
    <h1>Tree for {{ repo.name }}</h1>
    
    {% if branch %}
    <p>Branch: {{ branch }}</p>
    {% endif %}
    
    {% if path %}
    <p>Path: {{ path }}</p>
    {% endif %}
    
    <div class="tree">
        {% if entries %}
        <table class="file-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>
                        {% if entry.is_directory %}
                        <a href="/repo/{{ repo.name }}/tree/{{ entry.path }}?h={{ branch }}">{{ entry.name }}</a>
                        {% else %}
                        <a href="/repo/{{ repo.name }}/file/{{ entry.path }}?h={{ branch }}">{{ entry.name }}</a>
                        {% endif %}
                    </td>
                    <td>{% if entry.is_directory %}Directory{% else %}File{% endif %}</td>
                    <td>{{ entry.size }}</td>
                    <td>{{ entry.last_modified }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This directory is empty</p>
        {% endif %}
    </div>
    
    {% if readme %}
    <div class="readme">
        <h2>README</h2>
        {% if readme.0 == "Markdown" %}
        <div class="markdown">{{ readme.1 }}</div>
        {% else %}
        <pre>{{ readme.1 }}</pre>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>