crlf.git
asyncgit/crlf.git
src/lib/empty/

.tmp-prettierignore

!relay/src/bin/
!gnit/src/bin/
graph.png

bun.lock
node_modules/

vendor
tmpgit-**
coverage/
default.profdata
**.profraw
**/**.profraw

full_screen.png
selected_area.png
specific_window.png

test-cli-expect-output.txt

.genkit
tmpgit-**
.gemini/tmp

build_rs_cov.profraw

test_screenshots/**/*.png
legit/src/empty/
src/empty
.gnostr/**.git
data/

gnostr-gnit-key
gnostr-gnit-key.pub
.gnostr
executable
test
gnostr.git
.gnostr/*
relays.yaml**
**DS_Store
**/target
.idea
*.json

##old artifacts

CMakeCache.txt
PROCESS
act/
aes.o
base64.o
bash_profile.log
bits/
cat/
cli/
cmake_install.cmake
db/
drives/
example
ext/
ffi/
get-relays/
!src/lib/git/
gnostr-act
gnostr-am
gnostr-client
gnostr-get-relays
gnostr-get-relays-test
gnostr-git
gnostr-gnode
gnostr-pi
gnostr-req
gnostr-set-relays
gnostr-sha256-tests
gnostr-test
gnostr-tests
gnostr.o
gossip/
grep/
http_client
http_relay
hyper-nostr/
hyper-sdk/
jj/
jq/
lfs/
libnostr.a
libsecp256k1.a
list_01.txt
list_02.txt
modal/
nips/
nostro
org/
proxy/
pubkeys.txt
py/
response.txt
secp256k1/
server.crt
server.key
sha256.o
sha256/
src/libcjson/
src/nostril/
tui/
vostro
workspace/
xq/bash_profile.log
xq/template

#scripts/code2prompt.sh
app/app.md
app/extensions/examples/examples.md
app/extensions/extensions.md
app/extensions/src/src.md
app/kv/bench/bench.md
app/kv/bench/benches/benches.md
app/kv/bench/src/src.md
app/kv/kv.md
app/kv/src/src.md
app/kv/tests/tests.md
app/src/src.md
examples/examples.md
src/bin/bin.md
src/lib/components/chat_details/chat_details.md
src/lib/components/commit_details/commit_details.md
src/lib/components/components.md
src/lib/components/utils/utils.md
src/lib/core/core.md
src/lib/keys/keys.md
src/lib/lib.md
src/lib/login/login.md
src/lib/p2p/chat/chat.md
src/lib/p2p/chat/tests/tests.md
src/lib/p2p/p2p.md
src/lib/popups/popups.md
src/lib/relays/relays.md
src/lib/remote/remote.md
src/lib/ssh/config/config.md
src/lib/ssh/server/server.md
src/lib/ssh/site/site.md
src/lib/ssh/ssh.md
src/lib/sub_commands/sub_commands.md
src/lib/tabs/tabs.md
src/lib/test_utils/test_utils.md
src/lib/test_utils/tests/events/events.md
src/lib/test_utils/tests/p2p/p2p.md
src/lib/test_utils/tests/tests.md
src/lib/types/nip44/nip44.md
src/lib/types/private_key/private_key.md
src/lib/types/types.md
src/lib/types/versioned/versioned.md
src/lib/ui/ui.md
src/lib/utils/utils.md
src/lib/xq/xq.md
src/src.md
!asyncgit/src/lib/gitui/cli/
!asyncgit/src/lib/gitui/cli/mod.rs
