data/
gnostr-gnit-key
gnostr-gnit-key.pub
.gnostr
executable
test
gnostr.git
gnostr/*
.gnostr/*
*.png
relays.yaml**
**DS_Store
**/target
.idea
*.json

##old artifacts

CMakeCache.txt
PROCESS
act/
aes.o
base64.o
bash_profile.log
bits/
cat/
cli/
cmake_install.cmake
core/
db/
drives/
example
ext/
ffi/
get-relays/
git/
gnostr
gnostr-act
gnostr-am
gnostr-client
gnostr-get-relays
gnostr-get-relays-test
gnostr-git
gnostr-gnode
gnostr-pi
gnostr-req
gnostr-set-relays
gnostr-sha256-tests
gnostr-test
gnostr-tests
gnostr.o
gossip/
grep/
http_client
http_relay
hyper-nostr/
hyper-sdk/
jj/
jq/
lfs/
libnostr.a
libsecp256k1.a
list_01.txt
list_02.txt
modal/
nips/
nostro
org/
proxy/
pubkeys.txt
py/
response.txt
secp256k1/
server.crt
server.key
sha256.o
sha256/
src/libcjson/
src/nostril/
tui/
vostro
web/
workspace/
xq/bash_profile.log
xq/template
