[package]
name = "gnostr"
version = "0.0.73"
edition = "2021"
description = "gnostr:a git+nostr workflow utility"
authors = ["gnostr <admin@gnostr.org>", "0xtr <oxtrr@protonmail.com>"]
readme = "README.md"
homepage = "https://github.com/gnostr-org/gnostr"
repository = "https://github.com/gnostr-org/gnostr"
license = "MIT"
keywords = ["gnostr", "tool", "nostr"]
categories = ["command-line-utilities"]
build = "build.rs"

exclude = [
    "vendor/",
    "target/",
    ".git/",
    "docs/",
    "examples/",
    "tests/",
    "benches/",
    "ci/",
    "*.md",
]

[lib]
name = "gnostr"
path = "src/lib/mod.rs"

[features]
default = ["ghemoji", "regex-fancy", "trace-libgit", "vendor-openssl"]
expensive_tests = [] #nostr
ghemoji = ["gh-emoji"]
# regex-* features are mutually exclusive.
regex-fancy = ["syntect/regex-fancy", "two-face/syntect-fancy"]
regex-onig = ["syntect/regex-onig", "two-face/syntect-onig"]
timing = ["scopetime/enabled"]
trace-libgit = ["gnostr-asyncgit/trace-libgit"]
vendor-openssl = ["gnostr-asyncgit/vendor-openssl"]

[build-dependencies]
chrono = { version = "0.4", default-features = false, features = ["clock"] }

[dev-dependencies]
##nostr
env_logger = "0.11"
gnostr-bins = "0.0.71"
mockall = "0.11.4"
pretty_assertions = "1.4"
rexpect = { git = "https://github.com/rust-cli/rexpect.git", rev = "9eb61dd" }
serial_test = "2.0.0"
tempfile = "3"
tungstenite = { version = "0.20.0", features = ["native-tls"] }
url = "2.2.2"
##examples/sniper
reqwest = { version = "0.11.14", features = ["blocking", "json"] }
##serde_json = "1.0"
##serde = { version = "1.0.152", features = ["derive"] }
##tokio = { version = "1", features = ["full"] }
##futures = "0.3.25"

[dependencies]
anyhow = "1.0.75"
async-std = "1.12"
async-trait = "0.1.73"

##nostr
#async-trait = "0.1.73"
auth-git2 = "0.5.5"
backtrace = "0.3"
bitflags = "2.6"
bugreport = "0.5"
bwrap = { version = "1.3", features = ["use_std"] }
bytesize = { version = "1.3", default-features = false }
chacha20poly1305 = "0.10.1"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
clap = { version = "4.3.19", features = ["derive", "env", "cargo"] }
console = "0.15.7"
##clap = { version = "4.5", features = ["env", "cargo"] }
crossbeam-channel = "0.5"
#clap = { version = "4.3.19", features = ["derive"] }
#console = "0.15.7"
crossterm = { version = "0.28.0", features = ["event-stream", "serde"] }
#clap = { version = "4.5.6", features = ["derive"] }
csv = "1.3.0"
dialoguer = "0.10.4"
directories = "5.0.1"
#crossterm = { version = "0.28", features = ["serde"] }
dirs = "5.0"
easy-cast = "0.5"
#dialoguer = "0.10.4"
#directories = "5.0.1"
env_logger = "0.11"
filetreelist = { path = "./filetreelist", version = "0.5" }

flume = "0.10"
futures = "0.3.28"
#futures = "0.3.28"
futures-core = { version = "0.3", optional = false, default-features = false }
futures-timer = "3.0"
futures-util = "0.3"
fuzzy-matcher = "0.3"
gh-emoji = { version = "1.0", optional = true }
git2 = "^0.18" ## asyncgit ^0.19

##gitui
#anyhow = "1.0"
gnostr-asyncgit = { path = "./asyncgit", version = "0.0.1", default-features = false }
gnostr-crawler = { version = "0.0.1", path = "crawler" }
hostname = "0.3.1"
indexmap = "2"
indicatif = "0.17.7"
itertools = "0.13"
##gnostr-tui provides ngit
##gnostr-tui = { version = "0.0.62", path = "crates/tui" }
#indicatif = "0.17.7"
keyring = "2.0.5"
libp2p = { version = "0.54.1", features = [
  "tokio",
  "gossipsub",
  "mdns",
  "noise",
  "macros",
  "tcp",
  "yamux",
  "quic",
] }

log = "0.4"

nostr = "0.34.1"
nostr-database = "0.34.0"
nostr-sdk = "0.34.0"
nostr-sdk_0_32_0 = { package = "nostr-sdk", version = "0.32.0" }
nostr-sdk_0_37_0 = { package = "nostr-sdk", version = "0.37.0" }
nostr-signer = "0.34.0"
nostr-sqlite = "0.34.0"
#log = "0.4"

##cli
nostr_0_32_0 = { package = "nostr", version = "0.32.0" }
notify = "6.1"
notify-debouncer-mini = "0.4"

num_cpus = "1.16.0"
once_cell = "1.21.3"
#once_cell = "1"
# pin until upgrading this does not introduce a duplicate dependency
parking_lot_core = "=0.9.9"
passwords = "3.1.13"
ratatui = { version = "0.28", default-features = false, features = [
    'crossterm',
    'serde',
] }
rayon-core = "1.12"
reqwest = { version = "0.11.14", features = ["blocking", "json"] }
ron = "0.8"
scopeguard = "1.2"
scopetime = { path = "./scopetime", version = "0.1" }
scrypt = "0.11.0"
serde = { version = "1.0.203", features = ["derive"] }
serde_json = "1.0.117"

serde_yaml = "0.9.27"
#serde = { version = "1.0.181", features = ["derive"] }
#serde_json = "1.0.105"
#serde_yaml = "0.9.27"
serial_test = "2.0.0"
sha2 = "0.10.8"
#serde = "1.0"
shellexpand = "3.1"
simplelog = { version = "0.12", default-features = false }
struct-patch = "0.4"
syntect = { version = "5.2", default-features = false, features = [
    "parsing",
    "default-syntaxes",
    "default-themes",
    "html",
] }
temp-env = "0.3.6"
tokio = { version = "1.33.0", features = ["full"] }
tokio-tungstenite = "0.20"
##tracing = { version = "0.1.37", features = ["std", "attributes"] }
tracing = { version = "0.1.38", default-features = false }
tracing-core = "0.1.33"

tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tui-input = "0.11.1"
tui-textarea = "0.6"
two-face = { version = "0.4.0", default-features = false }
unicode-segmentation = "1.12"
unicode-truncate = "1.0"
unicode-width = "0.1"
ureq = { version = "2", features = ["json", "charset"] }
url = "2.5.0"
####
####
####
####
#test_utils = { path = "test_utils" }
####
####
####
urlencoding = "2.1.3"
which = "6.0"
zeroize = "1.6.0"

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
