<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>
    {% block title %}
    gnostr.org/
    {% endblock %}
    <aside>
    {%- block subnav %}{% endblock %}
    </aside>
    </title>
    <link rel="stylesheet" type="text/css" href="/style-{{ crate::web::GLOBAL_CSS_HASH }}.css" />
    {%- block head -%}{%- endblock %}
  </head>
  <body>
    <header>
      <h1>
        <a href="/" class="no-hover" style="text-decoration: none">
          <img src="/gnostr-{{ crate::web::GNOSTR_SVG_HASH.get().unwrap() }}.svg" alt="gnostr" width="128" height="128" style="vertical-align: middle" />
        </a>
        {% block header -%}gnostr.org{%- endblock %}
      </h1>
    </header>
      <div>{%- block subnav %}{% endblock %}</div>
    {%- block nav -%}
    <nav>
      <div>
        <a href="/" class="active">gnostr</a>
      </div>
        <div class="grow"></div>
        <div>{%- block extra_nav_links %}{% endblock %}</div>
    </nav>
    {%- endblock -%}
    <main>{%- block content %}{% endblock -%}</main>
    <div class="grow"></div>
    <footer>
      <a href="https://github.com/gnostr-org/gnostr" target="_blank">gnostr.org</a> v{{ crate::web::CRATE_VERSION }} at {{
      time::OffsetDateTime::now_utc()|format_time }} in {{
      "{:?}"|format(crate::web::layers::logger::REQ_TIMESTAMP.get().elapsed()) }}
    </footer>
    {%- block scripts -%}{%- endblock %}
  </body>
</html>
