## [source.crates-io]
## replace-with = "vendored-sources"
## 
## [source."git+https://github.com/DanConwayDev/simple-websockets?branch=auto-release-port"]
## git = "https://github.com/DanConwayDev/simple-websockets"
## branch = "auto-release-port"
## replace-with = "vendored-sources"
## 
## [source."git+https://github.com/rust-cli/rexpect.git?rev=9eb61dd"]
## git = "https://github.com/rust-cli/rexpect.git"
## rev = "9eb61dd"
## replace-with = "vendored-sources"
## 
## [source.vendored-sources]
## directory = "vendor"
# .cargo/config.toml
[target.aarch64-unknown-linux-gnu]
linker = "aarch64-elf-gcc"
[build]
rustc-wrapper = "sccache"
#rustflags = ["-Clink-arg=-fuse-ld=lld", "-Ctarget-cpu=native"]
rustflags = ["-Ctarget-cpu=native"]
