xcode/swift-universal/rustylib/rustylib_framework.xcframework/Info.plist
xcode/swift-universal/swiftyapp/Shared/Lib/swiftyrustlib/artifacts/RustyCore.xcframework/Info.plist

**/librustylib.a

.DS_Store
/.build
/Packages
xcuserdata/
.swiftpm/
Package.resolved

dump.rdb
