{% extends "repo/base.html" %} {%- block head %} {%- if let Some(css_hash) = crate::HIGHLIGHT_CSS_HASH.get() %}
<link rel="stylesheet" type="text/css" href="/highlight-{{ css_hash }}.css" />
{%- endif -%} {%- if let Some(dark_css_hash) = crate::DARK_HIGHLIGHT_CSS_HASH.get() %}
<link rel="stylesheet" type="text/css" href="/highlight-dark-{{ dark_css_hash }}.css" />
{%- endif -%} {%- endblock -%} {% block diff_nav_class %}active{% endblock %} {% block content %}
<h2>Diff</h2>
<pre class="diff">
{{ commit.diff_stats|safe }}
{{ commit.diff|safe }}</pre
>
{% endblock %}
