name: publish to ghcr.io
##REF:https://github.com/docker/login-action

env:
  GNOSTR_COMMAND: 'gnostr tui'

on:
  push:
    #branches:
    #  - master
    #  - main
    #  - v**
    tags:
      - v0.**
      - v1.**
      - v2.**
      - v3.**
      - v4.**
    #branches-ignore:
    #  - 'releases/**-alpha'
    #tags-ignore:
    #  - v999.**
  workflow_dispatch:

jobs:
      push-store-image:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: '.'
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@main

          - name: Set up QEMU
            uses: docker/setup-qemu-action@v1

          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v1

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GH_TOKEN}}

          - name: 'Build gnostr image'
            run: |
              docker buildx build --platform linux/amd64,linux/arm64 . --tag ghcr.io/gnostr-org/gnostr:latest --push
