:root {
  /* Solarized Colors - Light Theme */
  --clrBg: #fdf6e3; /* base3 */
  --clrPanel: #eee8d5; /* base2 */
  --clrBorder: #93a1a1; /* base1 */
  --clrBtn: #073642; /* base02 */
  --clrText: #073642; /* base02 */
  --clrTextLight: #586e75; /* base01 */
  --clrTextLighter: #657b83; /* base00 */
  --clrHeart: #dc322f; /* red */
  --clrWarn: #cb4b16; /* orange */
  --clrLink: #268bd2; /* blue */
  --clrLinkVisited: #6c71c4; /* violet */
  --clrNotification: #cb4b16; /* orange */
  --clrChatBlue: #268bd2; /* blue */

  /* Event Message & Action Colors */
  --clrEvMsg: #eee8d5; /* base2 */
  --clrTextEvMsg: #586e75; /* base01 */
  --clrBgAction: #eee8d5; /* base2 */
  --clrTextAction: #073642; /* base02 */

  /* Font Sizes */
  --fsSmall: 12px;
  --fsReduced: 14px;
  --fsNormal: 16px;
  --fsEnlarged: 18px;
  --fsLarge: 22px;

  /* Font Families */
  --ffDefault:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  /* Z Layers */
  --zDefault: 0;
  --zPFP: 1;
  --zHeader: 2;
  --zGlobal: 3;
  --zModal: 4;

  /* Icon */
  --iconSize: 24px;
  --iconSizeSmall: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clrBg: #002b36; /* base03 */
    --clrText: #839496; /* base0 */
    --clrPanel: #073642; /* base02 */
    --clrBorder: #586e75; /* base01 */
    --clrLink: #268bd2; /* blue */
    --clrLinkVisited: #6c71c4; /* violet */
    --clrEvMsg: #073642; /* base02 */
    --clrTextEvMsg: #839496; /* base0 */
    --clrBgAction: #586e75; /* base01 */
    --clrTextAction: #839496; /* base0 */
  }
}
